dist/
node_modules/
.vscode/
.nyc_output/
coverage/
docker-compose.override.yml
nginx-*.yml
online-service-*.yml
kubernetes-*.yaml
az-init.sh
scripts/deploy/**/parameters.json

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json
*.csproj
