<form class="new-config-form" enctype="multipart/form-data" method="POST">
    <fieldset>
        <label for="config-name">Name:</label><input name="name" id="config-name" value="{{config.name}}" required/>
        <br/>
        <label for="config-jobCacheTime">Job Cache Time: (seconds)</label><input type="number" name="jobCacheTime" id="config-jobCacheTime" value="{{config.jobCacheTime}}" required/>
        <br/>
        <label for="config-jobRunTime">Job Run Time: (seconds)</label><input type="number" name="jobRunTime" id="config-jobRunTime" value="{{config.jobRunTime}}" required/>
        <br/>
        <label for="config-configurations">Configuration file:</label><input type="file" name="configurations" id="config-configurations" {{#unless isEdit}}required{{/unless}}/>
    </fieldset>
    <div class="actions">
        <button type="submit">{{buttonText}} configuration</button>
    </div>
</form>