<form class="new-config-form" method="POST">
    <fieldset>
        <label for="user-name">Name:</label><input name="name" id="user-name" value="{{config.name}}" required/>
    </fieldset>
    <div class="actions">
        <button type="submit">Add user</button>
    </div>
</form>