<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>sonar Online Service Config Manager</title>

    <link href="/css/admin.css" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div class="nav-bar container">
            <nav class="nav">
                <a href="/" class="clear logo--container">
                    <img src="/images/sonar-logo.svg" alt="sonar" class="header__logo navbar__navitem">
                </a>
                <ul class="nav__navbar">
                    <li class="navbar__navitem">
                        <a role="button" href="/admin/statistics" class="navitem__button">Statistics</a>
                    </li>
                    <li class="navbar__navitem">
                        <a role="button" href="/admin/config" class="navitem__button">Configurations</a>
                    </li>
                    <li class="navbar__navitem">
                        <a role="button" href="/admin/users" class="navitem__button">Users</a>
                    </li>
                </ul>
            </nav>
            <button class="header__toggle mobile-nav-button" aria-label="Menu"></button>
        </div>
    </header>
    {{{body}}}
</body>

</html>